body{
    font-family: 'Markazi Text', serif;;
    background: #f3f3f3
}

.subheader h3, h4{
    padding: 7px;
    margin: 5px;
    font-size: 35px;
}

.full {
    background-color: white;
    width: 1000px;
    margin: auto;
    height: 960px;
    border-radius: 0px;
    margin-top: 2%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 2%;
}
.content {
    background: url('../newpic.png');
    background-size: 100% 100%;;
    border-radius: 0%;
    -moz-border-radius: 0%;
    position: relative;
    margin: 40px auto 60px auto;
    top: 40px;
    border: 0.45px solid lightgray;
    -webkit-border-radius: 50%;
    width: 240px;
    height: 200px;
}

.mainContent {
    margin-top: 0px;
    line-height:24px;
}

.topcontent h4 {
    font-size: 1.05em;
    margin-left: 13.5px;
}

hr {
    margin: auto 25px 10px 25px;
    border: 0.9px solid lightgrey;
}

.topcontent {
    padding: 5px;
    width: 950px !important;
    background-color: white;
    border-radius: 4px;
    margin: 15px auto 10px auto !important;
}

.share-icons a{
        font-size: 20px;
        margin-right: 21px;
        margin-bottom: 6px;
        float: left;
        display: inline-block;
    }

.mainFooter p {display: inline-block;}

.mainFooter {
    color: black;
    width: 1050px;
    margin: auto;
    text-align: left;
    padding: 0px 110px 0px 30px; 
}

.footer {
    color: #323232;
    padding: 0.7rem 1.5rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    width: 100%;
    border: px solid black;
}

@media only screen and (min-width: 150px) and (max-width: 600px) {

    .footer {
        width: 100%;

    }

    .mainContent {
        background-color: white;
        line-height:30px;
        overflow: hidden;
    }

    .body {
        overflow-x: hidden;
        background-color: #f3f3f3;
    }

    .full {
        height: 100%;
        box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.1); 
        margin: 10px;
        background-size: 100% 300px;
        width: 95% !important;
    }

    .subheader {
        padding-bottom: 15px;
    }
    
    .content{
        height: 190px;
        background-size: 100% 100%;
        width: 210px !important;
        margin-top: 0px;
    }


    .topcontent {
        width: 90% !important;
        overflow: hidden;
        height: 100%;;
        padding: 15px 10px 10px 10px;
        margin: 2%;
    }

    .header p{
        text-align: left !important;
        font-size: 30px;
        margin: 0px;
        padding: 0px;
    }

    .header {
        padding: 40px 110px 0px 24px; 
    }

    .mainFooter {
        width: 100%;
        padding-left: 15px;
    }
    
    .share-icons { 
        padding-left: 50px;
    }
    .share-icons a{
        font-size: 25px;
        margin-left: 5px;
        float: left;
        padding-bottom: 10px;
    }
}