body{
    font-family: monospace;
    background: #f3f3f3
}

.subheader h3, h4{
    padding: 10px;
    margin: 10px;
}

.full {
    background-color: white;
    width: 1100px;
    margin: auto;
    height: 820px;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.content {
    background: url('../newpic.png');
    background-size: 100% 100%;;
    border-radius: 50%;
    -moz-border-radius: 50%;
    position: relative;
    margin: 40px auto 60px auto;
    top: 40px;
    border: 0.45px solid lightgray;
    -webkit-border-radius: 50%;
    width: 240px;
    height: 200px;
    background-color: black;;
}

h2 {
    font-size: 1.5em;
    margin: 0.67em 0; 
}

.header {
    font-weight: 900;
    font-size:45px; 
    width: 1050px;
    margin: auto;
    padding: 40px 110px 0px 5px; 
    text-align: left;
}

.mainContent {
    margin-top: 0px;
    line-height:24px;
}

.topcontent h4 {
    font-size: 1.05em;
    margin-left: 13.5px;
}

.topcontent {
    padding: 5px;
    width: 1050px !important;
    background-color: white;
    border-radius: 4px;
    border-top: 3px solid lightgrey;
    margin: 15px auto 15px auto !important;
}

.share-icons a{
        font-size: 20px;
        margin-right: 21px;
        margin-bottom: 6px;
        float: left;
        display: inline-block;
    }

.mainFooter p {display: inline-block;}

.mainFooter {
    color: black;
    width: 1050px;
    margin: auto;
    text-align: left;
    padding: 0px 110px 0px 20px; 
}

@media only screen and (min-width: 150px) and (max-width: 600px) {

    .mainContent {
        background-color: white;
        line-height:30px;
        overflow: hidden;
    }

    .body {
        overflow-x: hidden;
    }

    .full {
        height: 310px;
        background-size: 100% 300px;
        width: 98% !important;
        margin-top: -5%;
    }

    .subheader {
        padding-bottom: 15px;
    }
    
    .content{
        height: 170px;
        background-size: 100% 100%;
        width: 220px !important;
    }

 
    .topcontent {
        width: 90% !important;
        overflow: hidden;
        height: 100%;;
        padding: 15px 10px 10px 10px;
        margin: 2%;
    }

    .header p{
        text-align: left !important;
        font-size: 30px;
        margin: 0px;
        padding: 0px;
    }

    .header {
        padding: 40px 110px 0px 24px; 
    }

    .mainFooter {
        width: 100%;
    }
    
    .share-icons a{
        font-size: 25px;
        margin-right: 20px;
        margin-left: 15px;
        padding-bottom: 10px;
        float: left;
    }
}