
body{
    font-family: monospace;
    background-color: white;
}
.content {
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: auto;
    border: 0.45px solid lightgray;
    -webkit-border-radius: 5px;
    width: 100%;
    margin: auto !important;
    height: 540px;
    background-color: black;;
}

h2 {
    font-size: 1.5em;
    margin: 0.9em 0; 
}

h2 {
    font-size: 1.5em;
    margin: 0.67em 0; 
}

.body {
    width: 100;
}

.header {
    font-weight: 900;
    font-size:45px; 
    width: 1150px;
    margin: auto;
    padding: 40px 110px 0px 40px; 
    text-align: left;
}


.mainContent {
    margin-top: 0px;
    line-height:24px;
}

.topcontent h4 {
    font-size: 1.05em;
    margin-left: 13.5px;
}

.topcontent {
    padding: 5px;
    width: 1150px !important;
    background-color: white;
    border-radius: 4px;
    border-top: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    margin: 15px auto 15px auto !important;
}

.content p, h2{
    padding: 10px 20px 0px 10px;
}

.cont1 {
    width: 650px !important;
    margin: auto !important;
}

.share-icons {
    float: right;
    font-size: 20px;
    display: inline-block;
}

.mainFooter p {display: inline-block;}

.mainFooter {
    color: black;
    width: 1150px;
    margin: auto;
    text-align: left;
    padding: 0px 110px 0px 20px; 
}

@media only screen and (min-width: 150px) and (max-width: 600px) {

    .mainContent {
        line-height:30px;
    }

    .content, .topcontent {
        width: 90% !important;
        padding: 15px 10px 10px 10px;
        margin: 2%;
    }

    .header p{
        text-align: left !important;
        margin: 0px;
    }
    .mainFooter {
        width: 90%;
    }
}